@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Space Grotesk", sans-serif;
  background: white;
  color: black;
  caret-color: transparent;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

@theme {
  --breakpoint-3xs: 1rem;
}

@layer utilities{
  @keyframes loading{
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(250%);
    }
  }

.animate-loading-bar{
    animation: loading 0.8s ease infinite;
  }
}